---
interface Link {
    href: string
    text: string
}

interface Props {
    links: Link[]
}

const { links } = Astro.props
---
<header>
    <div></div>
    <nav>
        <ul>
            {links.map((link: Link) => (
                <li><a href={link.href}>{link.text}</a></li>
            ))}
        </ul>
    </nav>
</header>